.Graphic-wrapper{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 30px -2px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 946px){
    .Graphic-wrapper{
        width: 700px;
        height: 400px;
    }
}
@media screen and (max-width: 866px){
    .Graphic-wrapper{
        width: 600px;
        height: 300px;
    }
}
@media screen and (max-width: 738px){
    .Graphic-wrapper{
        width: 500px;
        height: 260px;
        padding: 0;
    }
}
@media screen and (max-width: 634px){
    .Graphic-wrapper{
        width: 440px;
        height: 260px;
    }
}
@media screen and (max-width: 582px){
    .Graphic-wrapper{
        width: 400px;
        height: 260px;
    }
}
@media screen and (max-width: 434px){
    .Graphic-wrapper{
        width: 360px;
        height: 240px;
    }
}
@media screen and (max-width: 390px){
    .Graphic-wrapper{
        width: 310px;
        height: 230px;
    }
}